@import url(https://fonts.googleapis.com/css?family=Cantarell);

html * {
    font-family: Cantarell;
}

body {
    margin: 0;
}
#background {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

#background:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('card.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.3;
}

#content {
    margin: 0 auto;
    max-width: 600px;
    opacity: 1;
}

#picture {
    max-width: 150px;
    display: inline;
    border-radius: 300px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#text {
    display: inline;
}
